:root {
  --ff-1: "Open Sans", sans-serif;
  --ff-2: "Manrope", sans-serif;
  --ff-3: "Montserrat", sans-serif;
  --ff-4: "Circe", arial, sans-serif;
  --col-b1: #0F0E42;
  --col-b2: #07317E;
  --col-b3: #1146A6;
  --col-b4: #1A87D8;
  --col-b5: #08327F;
  --col-w1: #FFFFFF;
  --col-w3: #F2F6FD;
  --col-w4: #CED6E4;
  --col-w5: #8C8E9B;
  --col-w6: #2C2C2C;
  --col-a1: #FCC01A;
  --col-a2: #FFD359;
  --col-a3: #FF3D00;
}

/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-300 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-regular - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-500 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-600 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-700 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-800 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  font-style: normal;
  font-family: var(--ff-2);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--col-w1);
  color: var(--col-b1);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: var(--col-b1);
  font-family: var(--ff-2);
  -moz-text-align-last: left;
       text-align-last: left;
}
.title--big {
  font-size: 48px;
}
.title--small {
  font-size: 24px;
}

.wrapper {
  max-width: 1416px;
  padding: 0 40px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  background-color: var(--col-a1);
  color: var(--col-b1);
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  padding: 1.1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 0.3s;
  border-radius: 5px;
  min-height: 56px;
  min-width: 340px;
  text-align: center;
}
.button:hover, .button:focus, .button:active {
  background-color: var(--col-a2);
}

.subtitle {
  display: inline-block;
  font-family: var(--ff-2);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: var(--col-w5);
  margin: 0;
  margin-bottom: 0.75em;
  text-align: left;
}

.logo {
  max-width: 165px;
  display: inline-block;
}
.logo a {
  text-decoration: none;
  display: block;
}
.logo img {
  display: block;
  width: 100%;
}

/* .price-control {
  position: relative;
  margin-top: 17px;
  margin-bottom: 8px;

  .scale {
    height: 8px;
    background: #FFFFFF;
    border: 1px solid #CED6E4;
    border-radius: 3px;
  }

  .bar {
    position: absolute;
    left: 0;
    width: 60%;
    height: 2px;
    background: #1146A6;
    border-radius: 3px;
  }
}

.range-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  content: "";
  position: absolute;
  top: -16px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  // left: -6px;
  background: #FFFFFF;
  border: 4px solid #07317E;
  box-shadow: 0px 4px 10px rgba(18, 69, 164, 0.2);
  border-radius: 9px;

  img {
    display: block;
    pointer-events: none;
    width: 16px;
  }
}
 */
.header {
  padding: 20px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav ul {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: flex-start;
}
.header__nav a {
  font-family: var(--ff-2);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--col-b5);
  text-decoration: none;
}

.first {
  background: linear-gradient(90deg, #07317E 0%, #1146A6 100%);
  color: var(--col-w1);
  padding: 55px 0;
}
.first .title {
  color: inherit;
  margin-bottom: 1.2em;
}
.first .title span {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 400;
  display: block;
}
.first__wrapper {
  max-width: 1204px;
}
.first__form {
  padding: 35px 24px 50px;
  background-color: var(--col-w3);
  border-radius: 5px;
  color: var(--col-b1);
  font-family: var(--ff-2);
}
.first__form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.first__form-group--top {
  flex-wrap: initial;
}
.first__form-group--bottom {
  gap: 0 27px;
  align-items: flex-end;
  margin-bottom: 32px;
}
.first__form-label {
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: inherit;
  display: block;
  margin-bottom: 0.222em;
}
.first__form-label--top {
  font-weight: 400;
  font-size: 22px;
  display: inline-block;
  margin: 0;
}
.first__form-input {
  background-color: var(--col-w1);
  border: 1px solid;
  border-color: var(--col-w4);
  border-radius: 3px;
  color: var(--col-w5);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  padding: 0.375em 0.667em;
  width: 100%;
  max-width: 100%;
  min-height: 56px;
  box-sizing: border-box;
}
.first__form-input[type=number] {
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 145px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--col-w6);
}
.first__form-input[type=number]:hover, .first__form-input[type=number]:focus {
  -moz-appearance: number-input;
}
.first__form-input[type=number]::-webkit-inner-spin-button, .first__form-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.first__form-input[type=range] {
  width: 100%;
}
.first__form-tooltips {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 25px;
}
.first__form-tooltips p {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--col-w5);
}
.first__form-item {
  width: calc(33.3333333333% - 18px);
}
.first__form-item--last {
  position: relative;
}
.first__form-button {
  width: 100%;
  height: 56px;
  min-width: initial;
}
.first__form-footnote {
  position: absolute;
  width: 100%;
  bottom: -22px;
}
.first__form-footnote p {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  font-family: inherit;
  color: inherit;
  padding-left: 20px;
}
.first__form-footnote p::after {
  content: "";
  background-image: url(../img/icon-lock.svg);
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
}
.first__footer {
  width: 100%;
}
.first__footer-list {
  display: flex;
  gap: 46px;
}
.first__footer-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.first__footer-item p {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: inherit;
  margin-left: 4px;
}
.first__footer-item b {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--col-b3);
}

.ways-to-get {
  padding: 105px 0 130px;
  background-color: var(--col-w1);
  color: var(--col-b1);
}
.ways-to-get__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.ways-to-get__list-item {
  width: calc(33.3333333333% - 20px);
  display: flex;
  align-items: center;
  gap: 25px;
}
.ways-to-get__list-item p {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: inherit;
}
.ways-to-get__list-item p strong {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}/*# sourceMappingURL=style.css.map */