:root {
  --ff-1: 'Open Sans', sans-serif;
  --ff-2: 'Manrope', sans-serif;
  --ff-3: 'Montserrat', sans-serif;
  --ff-4: 'Circe', arial, sans-serif;

  --col-b1: #0F0E42;
  --col-b2: #07317E;
  --col-b3: #1146A6;
  --col-b4: #1A87D8;
  --col-b5: #08327F;


  --col-w1: #FFFFFF;
  --col-w3: #F2F6FD;
  --col-w4: #CED6E4;
  --col-w5: #8C8E9B;
  --col-w6: #2C2C2C;

  --col-a1: #FCC01A;
  --col-a2: #FFD359;
  --col-a3: #FF3D00;

}

@import "parts/fonts";
@import "parts/global";
// служебные классы
@import "parts/list-reset";
// типовые классы
@import "parts/title";
@import "parts/wrapper";
@import "parts/button";
@import "parts/subtitle";
@import "parts/footnote";
@import "parts/logo";
@import "parts/range";
// смысловые секции
@import "parts/header";
@import "parts/first";
@import "parts/ways-to-get";
@import "parts/guaranteed";
@import "parts/content";
@import "parts/footer";


@media (max-width: 1024px) {
  .header__logo {
    margin-left: 0;
  }

  .first__form-group--bottom {
    gap: 12px 27px;
  }

  .first__form-item {
    width: calc(50% - 14px);
  }

  .first__form-item--last {
    margin: 0 auto;
  }

  .first__footer-list {
    justify-content: center;
  }

  .ways-to-get__list-item {
    width: calc(50% - 15px);
  }

  .guaranteed__top {
    width: 100%;
  }

  .ways-to-get {
    padding: 70px 0;
  }

  .ways-to-get__list {
    flex-direction: column;
  }

  .ways-to-get__list-item {
    width: 100%;
  }

  .ways-to-get__list-item--vert {
    flex-direction: row;
  }

  .ways-to-get__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .ways-to-get__list-item svg {
    width: 78px;
    height: 78px;
  }

  .ways-to-get__list-item--vert p {
    min-height: initial;
  }

  .ways-to-get__list-item a {
    margin-bottom: 0.7em;
  }

  .guaranteed__list {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .first__form-item {
    width: 100%;
  }

  .first__footer-list {
    display: none;
  }

  .guaranteed__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }

  .ways-to-get__item-wrapper {
    width: calc(100% - 100px);
  }
}

@media (max-width: 625px) {
  .first__form-label--top {
    font-size: 16px;
  }

  .first__form-input[type=number] {
    width: 112px;

  }

  .first__form-group {
    align-items: center;

  }

  .first__form-group--bottom {
    gap: 18px;
  }

  .title {
    font-size: 28px;
  }

  .ways-to-get__list-item p strong {
    font-size: 20px;
  }

  .guaranteed__list li {
    width: 100%;
  }

  .guaranteed__list p {
    max-width: max-content;
  }

  .guaranteed__list ul {
    gap: 45px;
  }

  .ways-to-get__list-item a {
    margin-bottom: 12px;
  }

  .ways-to-get__list {
    gap: 37px;
  }

  .header {
    padding: 9px 0 4px;
  }

  .first {
    padding-top: 31px;
  }

  .first .title {
    font-size: 32px;
    margin-bottom: 0.8em;
  }

  .first .title span {
    font-size: 18px;
  }

  .first__form {
    padding: 20px 14px 40px;
  }

  .first__form-group {
    margin-bottom: 15px;
  }

  .first__form-tooltips {
    margin-top: 23px;
  }

  .first__form-group {
    margin-bottom: 14px;
  }

  .first {
    padding-bottom: 52px;
  }

  .ways-to-get {
    padding: 56px 0 64px;
  }

  .subtitle {
    font-size: 18px;
  }

  .ways-to-get .title {
    margin-bottom: 1.3em;
  }

  .ways-to-get__list-item {
    p {
      width: calc(100% - 100px);
    }
  }

  .ways-to-get__list-item {
    gap: 16px 12px;
  }

  .ways-to-get__list {
    gap: 26px;
  }

  .guaranteed {
    padding: 54px 0;
  }

  .guaranteed__top .title {
    margin-bottom: 25px;
  }

  .guaranteed__top .text {
    margin-bottom: 60px;
  }

  .guaranteed__bottom {
    margin-top: 20px;
  }

  .ways-to-get--mod {
    padding: 68px 0 38px;
  }

  .ways-to-get__list-item a {
    font-size: 20px;
  }

  .ways-to-get__item-wrapper {
    p {
      width: 100%;
    }
  }

  .ways-to-get--mod .ways-to-get__list {
    gap: 27px;
  }

  .content__links {
    margin-top: 35px;
  }

  .content__links a {
    font-size: 15px;
    margin-bottom: 9px;
  }

  .footer {
    padding-top: 43px;
  }

  .content {
    padding-bottom: 39px;
  }

  .logo {
    max-width: 144px;
}

}
