:root {
  --ff-1: "Open Sans", sans-serif;
  --ff-2: "Manrope", sans-serif;
  --ff-3: "Montserrat", sans-serif;
  --ff-4: "Circe", arial, sans-serif;
  --col-b1: #0F0E42;
  --col-b2: #07317E;
  --col-b3: #1146A6;
  --col-b4: #1A87D8;
  --col-b5: #08327F;
  --col-w1: #FFFFFF;
  --col-w3: #F2F6FD;
  --col-w4: #CED6E4;
  --col-w5: #8C8E9B;
  --col-w6: #2C2C2C;
  --col-a1: #FCC01A;
  --col-a2: #FFD359;
  --col-a3: #FF3D00;
}

/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-500 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/open-sans-v29-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/open-sans-v29-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-300 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-regular - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-500 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-600 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-700 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-800 - latin_cyrillic */
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/manrope-v13-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/manrope-v13-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/Circe-ExtraBold.woff2") format("woff2"), url("../fonts/Circe-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Circe-Regular.woff2") format("woff2"), url("../fonts/Circe-Regular.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  font-style: normal;
  font-family: var(--ff-2);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--col-w1);
  color: var(--col-b1);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin-top: 0;
  margin-bottom: 0.45em;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: var(--col-b1);
  font-family: var(--ff-2);
  -moz-text-align-last: left;
       text-align-last: left;
}
.title--big {
  font-size: 48px;
}
.title--small {
  font-size: 24px;
}

.wrapper {
  max-width: 1396px;
  padding: 0 50px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  background-color: var(--col-a1);
  color: var(--col-b1);
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  padding: 1.1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 0.3s;
  border-radius: 5px;
  min-height: 56px;
  min-width: 340px;
  text-align: center;
}
.button:hover, .button:focus, .button:active {
  background-color: var(--col-a2);
}

.subtitle {
  display: inline-block;
  font-family: var(--ff-2);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: var(--col-w5);
  margin: 0;
  margin-bottom: 0.55em;
  text-align: left;
}

.footnote {
  display: flex;
  gap: 8px;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footnote svg {
  width: 20px;
  height: 20px;
}
.footnote p {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  font-family: inherit;
  color: inherit;
  margin: 0;
}

.logo {
  max-width: 165px;
  display: inline-block;
}
.logo a {
  text-decoration: none;
  display: block;
}
.logo img {
  display: block;
  width: 100%;
}

/* .price-control {
  position: relative;
  margin-top: 17px;
  margin-bottom: 8px;

  .scale {
    height: 8px;
    background: #FFFFFF;
    border: 1px solid #CED6E4;
    border-radius: 3px;
  }

  .bar {
    position: absolute;
    left: 0;
    width: 60%;
    height: 2px;
    background: #1146A6;
    border-radius: 3px;
  }
}

.range-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  content: "";
  position: absolute;
  top: -16px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  // left: -6px;
  background: #FFFFFF;
  border: 4px solid #07317E;
  box-shadow: 0px 4px 10px rgba(18, 69, 164, 0.2);
  border-radius: 9px;

  img {
    display: block;
    pointer-events: none;
    width: 16px;
  }
}
 */
.header {
  padding: 20px 0 18px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-left: -20px;
}
.header__nav ul {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: flex-start;
}
.header__nav a {
  font-family: var(--ff-2);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--col-b5);
  text-decoration: none;
}

.first {
  background: linear-gradient(90deg, #07317E 0%, #1146A6 100%);
  color: var(--col-w1);
  padding: 55px 0;
}
.first .title {
  color: inherit;
  margin-bottom: 1.2em;
}
.first .title span {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 400;
  display: block;
  margin-top: 0.3em;
}
.first__wrapper {
  max-width: 1225px;
}
.first__form {
  padding: 35px 24px 40px;
  background-color: var(--col-w3);
  border-radius: 5px;
  color: var(--col-b1);
  font-family: var(--ff-2);
}
.first__form-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 23px;
}
.first__form-group--top {
  flex-wrap: initial;
}
.first__form-group--bottom {
  gap: 0 27px;
  align-items: flex-end;
  margin-bottom: 34px;
}
.first__form-label {
  font-family: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: inherit;
  display: block;
  margin-bottom: 0.222em;
}
.first__form-label--top {
  font-weight: 400;
  font-size: 22px;
  display: inline-block;
  margin: 0;
}
.first__form-input {
  background-color: var(--col-w1);
  border: 1px solid;
  border-color: var(--col-w4);
  border-radius: 3px;
  color: var(--col-w5);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  padding: 0.375em 0.667em;
  width: 100%;
  max-width: 100%;
  min-height: 56px;
  box-sizing: border-box;
}
.first__form-input[type=number] {
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 145px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--col-w6);
}
.first__form-input[type=number]:hover, .first__form-input[type=number]:focus {
  -moz-appearance: number-input;
}
.first__form-input[type=number]::-webkit-inner-spin-button, .first__form-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.first__form-input[type=range] {
  width: 100%;
}
.first__form-tooltips {
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 25px;
}
.first__form-tooltips p {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--col-w5);
}
.first__form-item {
  width: calc(33.3333333333% - 18px);
}
.first__form-item--last {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.first__form-item--last .footnote {
  position: absolute;
  bottom: -33px;
}
.first__form-button {
  width: 100%;
  height: 56px;
  min-width: initial;
}
.first__footer {
  width: 100%;
}
.first__footer-list {
  display: flex;
  gap: 46px;
}
.first__footer-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.first__footer-item p {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: inherit;
  margin-left: 4px;
}
.first__footer-item b {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--col-b3);
}
.first__form-range {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #CED6E4;
  border-radius: 3px;
  height: 10px;
}
.first__form-range .noUi-handle {
  background: var(--col-w1);
  border: 4px solid var(--col-b2);
  box-shadow: 0px 4px 10px rgba(18, 69, 164, 0.2);
  border-radius: 9px;
  width: 36px;
  height: 36px;
  right: -18px;
  top: -14px;
  cursor: pointer;
}
.first__form-range .noUi-touch-area {
  background-image: url(../img/bg-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  pointer-events: none;
}
.first__form-range .noUi-handle:before,
.first__form-range .noUi-handle:after {
  display: none;
}
.first__form-range .noUi-connect {
  background: #1146A6;
  border-radius: 3px;
}

.ways-to-get {
  padding: 103px 0 110px;
  background-color: var(--col-w1);
  color: var(--col-b1);
}
.ways-to-get .title {
  margin-bottom: 1.7em;
}
.ways-to-get__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.ways-to-get__list-item {
  width: calc(33.3333333333% - 20px);
  display: flex;
  align-items: flex-start;
  gap: 16px 25px;
}
.ways-to-get__list-item svg {
  width: 120px;
  height: 120px;
}
.ways-to-get__list-item p {
  margin: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: inherit;
}
.ways-to-get__list-item p strong {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 0.4em;
}
.ways-to-get__list-item a {
  font-family: inherit;
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
  margin-bottom: 1em;
}
.ways-to-get__list-item a:hover, .ways-to-get__list-item a:focus {
  color: var(--col-b3);
}
.ways-to-get__list-item a:hover::after, .ways-to-get__list-item a:focus::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--col-b3);
  bottom: 2px;
  left: 0;
}
.ways-to-get__list-item--vert {
  flex-direction: column;
}
.ways-to-get__list-item--vert p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--col-w5);
  min-height: 51px;
  margin-bottom: 1.1em;
}
.ways-to-get .footnote {
  margin-top: 1.19em;
}
.ways-to-get .footnote svg {
  width: 24px;
  height: 24px;
}
.ways-to-get .footnote p {
  color: var(--col-b3);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  min-height: initial;
  margin-bottom: 0;
}

.ways-to-get {
  padding-top: 107px;
}
.ways-to-get .title {
  margin-bottom: 1.5em;
}

.guaranteed {
  background-color: var(--col-w3);
  color: var(--col-b1);
  padding: 62px 0;
  font-family: var(--ff-2);
}
.guaranteed__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}
.guaranteed__top {
  width: calc(50% - 12px);
}
.guaranteed__list {
  width: calc(50% - 12px);
}
.guaranteed__list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.guaranteed__list li {
  width: calc(33.3333333333% - 16px);
}
.guaranteed__list p {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: inherit;
  margin: 0;
}
.guaranteed__list b {
  display: block;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: var(--col-b2);
  margin-bottom: 0.1em;
  margin-top: -0.6em;
}
.guaranteed__bottom {
  width: 100%;
}

.content {
  background-color: var(--col-w1);
  color: var(--col-b1);
  padding: 26px 0 57px;
}
.content__wrapper {
  max-width: 1435px;
}
.content__inner {
  font-size: 1rem;
}
.content__inner h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1, 4;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
.content__inner p {
  margin: 0;
}
.content__inner ul {
  font-size: inherit;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
}
.content__inner ul li {
  position: relative;
  padding-left: 13px;
}
.content__inner ul li:before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0.3em;
  font-weight: 500;
}
.content__inner a {
  font-weight: inherit;
  font-size: inherit;
  color: var(--col-b3);
}
.content__links {
  margin-top: 2em;
}
.content__links a {
  display: block;
  line-height: 1.6;
  text-decoration: none;
}

.footer {
  background: var(--col-b1);
  color: var(--col-w1);
  border-radius: 1px;
  padding: 52px 0;
  font-size: 1rem;
}
.footer__wrapper {
  display: flex;
  gap: 28px;
  flex-direction: column;
  max-width: 1435px;
}
.footer p {
  margin: 0;
}
.footer__description {
  font-size: 0.9em;
}
.footer__contacts {
  font-weight: 600;
}
.footer__contacts a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.footer__copyright {
  border-top: 1px solid var(--col-w1);
  padding-top: 20px;
  margin-top: 1px;
}
.footer__copyright p {
  font-family: 1rem;
  margin-bottom: 1.3em;
}

@media (max-width: 1024px) {
  .header__logo {
    margin-left: 0;
  }
  .first__form-group--bottom {
    gap: 12px 27px;
  }
  .first__form-item {
    width: calc(50% - 14px);
  }
  .first__form-item--last {
    margin: 0 auto;
  }
  .first__footer-list {
    justify-content: center;
  }
  .ways-to-get__list-item {
    width: calc(50% - 15px);
  }
  .guaranteed__top {
    width: 100%;
  }
  .ways-to-get {
    padding: 70px 0;
  }
  .ways-to-get__list {
    flex-direction: column;
  }
  .ways-to-get__list-item {
    width: 100%;
  }
  .ways-to-get__list-item--vert {
    flex-direction: row;
  }
  .ways-to-get__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .ways-to-get__list-item svg {
    width: 78px;
    height: 78px;
  }
  .ways-to-get__list-item--vert p {
    min-height: initial;
  }
  .ways-to-get__list-item a {
    margin-bottom: 0.7em;
  }
  .guaranteed__list {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .first__form-item {
    width: 100%;
  }
  .first__footer-list {
    display: none;
  }
  .guaranteed__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .wrapper {
    max-width: 100%;
    padding: 0 15px;
  }
  .ways-to-get__item-wrapper {
    width: calc(100% - 100px);
  }
}
@media (max-width: 625px) {
  .first__form-label--top {
    font-size: 16px;
  }
  .first__form-input[type=number] {
    width: 112px;
  }
  .first__form-group {
    align-items: center;
  }
  .first__form-group--bottom {
    gap: 18px;
  }
  .title {
    font-size: 28px;
  }
  .ways-to-get__list-item p strong {
    font-size: 20px;
  }
  .guaranteed__list li {
    width: 100%;
  }
  .guaranteed__list p {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .guaranteed__list ul {
    gap: 45px;
  }
  .ways-to-get__list-item a {
    margin-bottom: 12px;
  }
  .ways-to-get__list {
    gap: 37px;
  }
  .header {
    padding: 9px 0 4px;
  }
  .first {
    padding-top: 31px;
  }
  .first .title {
    font-size: 32px;
    margin-bottom: 0.8em;
  }
  .first .title span {
    font-size: 18px;
  }
  .first__form {
    padding: 20px 14px 40px;
  }
  .first__form-group {
    margin-bottom: 15px;
  }
  .first__form-tooltips {
    margin-top: 23px;
  }
  .first__form-group {
    margin-bottom: 14px;
  }
  .first {
    padding-bottom: 52px;
  }
  .ways-to-get {
    padding: 56px 0 64px;
  }
  .subtitle {
    font-size: 18px;
  }
  .ways-to-get .title {
    margin-bottom: 1.3em;
  }
  .ways-to-get__list-item p {
    width: calc(100% - 100px);
  }
  .ways-to-get__list-item {
    gap: 16px 12px;
  }
  .ways-to-get__list {
    gap: 26px;
  }
  .guaranteed {
    padding: 54px 0;
  }
  .guaranteed__top .title {
    margin-bottom: 25px;
  }
  .guaranteed__top .text {
    margin-bottom: 60px;
  }
  .guaranteed__bottom {
    margin-top: 20px;
  }
  .ways-to-get--mod {
    padding: 68px 0 38px;
  }
  .ways-to-get__list-item a {
    font-size: 20px;
  }
  .ways-to-get__item-wrapper p {
    width: 100%;
  }
  .ways-to-get--mod .ways-to-get__list {
    gap: 27px;
  }
  .content__links {
    margin-top: 35px;
  }
  .content__links a {
    font-size: 15px;
    margin-bottom: 9px;
  }
  .footer {
    padding-top: 43px;
  }
  .content {
    padding-bottom: 39px;
  }
}/*# sourceMappingURL=style.css.map */