:root {
  --ff-1: 'Open Sans', sans-serif;
  --ff-2: 'Manrope', sans-serif;
  --ff-3: 'Montserrat', sans-serif;
  --ff-4: 'Circe', arial, sans-serif;

  --col-b1: #0F0E42;
  --col-b2: #07317E;
  --col-b3: #1146A6;
  --col-b4: #1A87D8;
  --col-b5: #08327F;


  --col-w1: #FFFFFF;
  --col-w3: #F2F6FD;
  --col-w4: #CED6E4;
  --col-w5: #8C8E9B;
  --col-w6: #2C2C2C;

  --col-a1: #FCC01A;
  --col-a2: #FFD359;
  --col-a3: #FF3D00;

}

@import "parts/fonts";
@import "parts/global";
// служебные классы
@import "parts/list-reset";
// типовые классы
@import "parts/title";
@import "parts/wrapper";
@import "parts/button";
@import "parts/subtitle";
@import "parts/footnote";
@import "parts/logo";
@import "parts/range";
// смысловые секции
@import "parts/header";
@import "parts/first";
@import "parts/ways-to-get";
@import "parts/guaranteed";
@import "parts/content";
@import "parts/footer";

