.footer {
  background: var(--col-b1);
  color: var(--col-w1);
  border-radius: 1px;
  padding: 52px 0;
  font-size: 1rem;

  &__wrapper {
    display: flex;
    gap: 28px;
    flex-direction: column;
    max-width: 1435px;
  }

  p {
    margin: 0;
  }

  &__description {
    font-size: 0.9em;
  }

  &__contacts {
    font-weight: 600;

    a {
      color: inherit;
      text-decoration: none;
      font-weight: inherit;
    }
  }

  &__copyright {
    border-top: 1px solid var(--col-w1);
    padding-top: 20px;
    margin-top: 1px;

    p {
      font-family: 1rem;
      margin-bottom: 1.3em;
    }
  }
}
