html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  font-style: normal;
  font-family: var(--ff-2);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--col-w1);
  color: var(--col-b1);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
