.subtitle {
  display: inline-block;
  font-family: var(--ff-2);
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: var(--col-w5);
  margin: 0;
  margin-bottom: 0.55em;
  text-align: left;
}
