.ways-to-get {
  padding: 103px 0 110px;
  background-color: var(--col-w1);
  color: var(--col-b1);

  .title {
    margin-bottom: 1.7em;
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
  }

  &__list-item {
    width: calc(100% / 3 - 20px);
    display: flex;
    align-items: flex-start;
    gap: 16px 25px;

    svg {
      width: 120px;
      height: 120px;
    }

    p {
      margin: 0;
      font-family: inherit;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.4;
      color: inherit;

      strong {
        display: block;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 0.4em;
      }
    }

    a {
      font-family: inherit;
      display: inline-block;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.2;
      color: inherit;
      text-decoration: none;
      position: relative;
      transition: all 0.3s;
      margin-bottom: 1em;
      &:hover,
      &:focus {
        color: var(--col-b3);
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 1px;
          background-color: var(--col-b3);
          bottom: 2px;
          left: 0;
        }
      }
    }

    &--vert {
      flex-direction: column;

      p {
        font-size: 16px;
        line-height: 1.6;
        color: var(--col-w5);
        min-height: 51px;
        margin-bottom: 1.1em;
      }
    }
  }

  .footnote {
    margin-top: 1.19em;
    svg {
      width: 24px;
      height: 24px;
    }

    p {
      color: var(--col-b3);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      min-height: initial;
      margin-bottom: 0;
    }
  }
}

.ways-to-get {
  padding-top: 107px;
  .title {
    margin-bottom: 1.5em;
}
}
